h1 {
    font-size: 30px;
}

#parent {
    display: flex;
}

.contents {
    margin: 0px 10px;
}


#force {
    position: relative;
}

.img {
    position: absolute;
   
}

.text {
    position: absolute;
    top: 50px;
    left: 50px;
}

.text {
    color: white;
}




